<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HoundNetwork.Properties.Credentions" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HoundNetwork.Properties.Credentions>
            <setting name="ServerIP" serializeAs="String">
                <value>172.16.1.191</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>9696</value>
            </setting>
            <setting name="ServerGuid" serializeAs="String">
                <value>22c8e790-aa7c-4a60-91ad-560d00a64d3a</value>
            </setting>
        </HoundNetwork.Properties.Credentions>
    </applicationSettings>
</configuration>